[Desktop Entry]
Encoding=UTF-8
Name=Gossipcoin
Comment=Gossipcoin P2P Cryptocurrency
Comment[fr]=Gossipcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Gossipcoin, eşten eşe kriptografik sanal para birimi
Exec=gossipcoin-qt %u
Terminal=false
Type=Application
Icon=gossipcoin128
MimeType=x-scheme-handler/gossipcoin;
Categories=Office;Finance;
